@model BibliotecaWeb.Models.Libro

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CodigoInterno" class="control-label"></label>
                <input asp-for="CodigoInterno" class="form-control" />
                <span asp-validation-for="CodigoInterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editorial" class="control-label"></label>
                <input asp-for="Editorial" class="form-control" />
                <span asp-validation-for="Editorial" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disponible" /> @Html.DisplayNameFor(model => model.Disponible)
                </label>
            </div>
            @*<div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="TematicaId" class="control-label"></label>
                <select asp-for="TematicaId" class="form-control" asp-items="ViewBag.TematicaId"></select>
                <span asp-validation-for="TematicaId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="FechaHoraEliminacion" class="control-label"></label>
                <input asp-for="FechaHoraEliminacion" class="form-control" />
                <span asp-validation-for="FechaHoraEliminacion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Eliminado" /> @Html.DisplayNameFor(model => model.Eliminado)
                </label>
            </div>*@
            <div class="form-group">
                <br />
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
